<div class="main-section">
    <div class="title-contain">
<h4 class="main-title">Cinema Ironhack</h4>

</div>
<div class="button-contain">
<a type ="button" class="main-button" href="/movies">Check the movies!</a>
</div>
</div>